<app-navbar></app-navbar>

<div class="content container-fluid p-0" role="main">
    <div class="banner-1 row m-0">
        <div class="text-banner-1">
            <h1 class="title-banner-1">Turorías online</h1>
            <hr class="break">
            <h2 class="title-second-banner-1">Clases en vivo</h2>
        </div>
    </div>
    <div class="row m-0">
        <div class="col-lg-12">
            <div class="m-auto text-how-work d-block">
                <h2 class="general-title">Cómo funciona</h2>
                <hr class="break-brown">
                <p class="general-text">
                    Clases en vivo, personalizadas para niños y jóvenes de colegio que les permite aprender de manera segura y desde cualquier lugar
                </p>
            </div>
        </div>

    </div>
    <div class="row text-center m-auto steps">
        <div class="col-lg-3 step-lg-3">
            <div class="step1 steps-img"></div>
            <span class="number-step numberstep1">1</span>
            <div class="text-steps">Elige
                <br>una materia</div>
        </div>
        <div class="col-lg-3 step-lg-3">
            <div class="step2 steps-img"></div>
            <span class="number-step numberstep2">2</span>
            <div class="text-steps text-2">Selecciona
                <br>un tutor</div>
        </div>
        <div class="col-lg-3 step-lg-3">
            <div class="step3 steps-img"></div>
            <span class="number-step numberstep3">3</span>
            <div class="text-steps text-3">Programa
                <br>tu clase</div>
        </div>
        <div class="col-lg-3 step-lg-3">
            <div class="step4 steps-img"></div>
            <span class="number-step numberstep4">4</span>
            <div class="text-steps text-4">¡A
                <br>Aprender!</div>
        </div>
        <div class="col-lg-12 play-video"></div>
        <div class="col-lg-12"><span class="text-steps">Ver video</span></div>
    </div>
    <div class="banner-2 row m-0">
        <div class="text-banner-2">
            <div class="twentyper">20%</div>
            <h1 class="title-banner-2">Subscríbete</h1>
            <hr class="break">
            <h2 class="title-second-banner-2">y obtén precios especiales</h2>
            <button class="btn btn-lg btn-mail">Correo electrónico</button>
            <div class="img-interested">Me interesa</div>
        </div>
    </div>
    <div class="row plans">
        <div class="col-lg-12">
            <div class="m-auto text-how-work d-block">
                <h2 class="general-title general-title-2">¡Tenemos planes para todos los presupuestos!</h2>
                <hr class="break-brown">
                <p class="general-text general-text-2">
                    Adicional a la calidad y metodología ágil implementada, puedes elegir el tiempo que necesitan tus hijos:
                </p>
            </div>
        </div>

    </div>
    <div class="row m-auto text-center">
        <div class="col-lg-4 plans-class">
            <div class="plan-price ml-0">$25.000</div>
            <div class="plan-name">PLAN 1</div>
            <div class="hours">
                <div class="hours-number">1</div>
                <div class="text-hour">HORA
                    <br>DE CLASE ONLINE EN VIVO</div>

            </div>
            <div class="text-other-hour">
                <ul class="list-unstyled">
                    <li>
                        - Tips Académicos
                    </li>
                    <li>
                        - Clases programadas
                    </li>
                    <li>
                        - <a href="#">Más información</a>
                    </li>
                </ul>
            </div>
            <div class="plan"></div>
        </div>
        <div class="col-lg-4 plans-class">
            <div class="plan-price ml-0">$125.000</div>
            <div class="plan-name">PLAN 2</div>
            <div class="hours">
                <div class="hours-number">4</div>
                <div class="text-hour">HORA
                    <br>DE CLASE ONLINE EN VIVO</div>

            </div>
            <div class="text-other-hour">
                <ul class="list-unstyled">
                    <li>
                        - Tips Académicos
                    </li>
                    <li>
                        - Clases programadas
                    </li>
                    <li>
                        - <a href="#">Más información</a>
                    </li>
                </ul>
            </div>
            <div class="plan"></div>
        </div>
        <div class="col-lg-4 plans-class">
            <div class="plan-price ml-0">$125.000</div>
            <div class="plan-name">PLAN 3</div>
            <div class="hours">
                <div class="hours-number">8</div>
                <div class="text-hour">HORA
                    <br>DE CLASE ONLINE EN VIVO</div>

            </div>
            <div class="text-other-hour">
                <ul class="list-unstyled">
                    <li>
                        - Tips Académicos
                    </li>
                    <li>
                        - Clases programadas
                    </li>
                    <li>
                        - <a href="#">Más información</a>
                    </li>
                </ul>
            </div>
            <div class="plan"></div>
        </div>

    </div>
    <div class="row m-auto text-center">
        <div class="col-lg-4 offset-lg-2 text-left plans-class">
            <div class="plan-price">$25.000</div>
            <div class="plan-name">PLAN PROMO</div>
            <div class="hours">
                <div class="hours-number">1</div>
                <div class="text-hour">HORA
                    <br>DE CLASE ONLINE EN VIVO</div>

            </div>
            <div class="text-other-hour">
                <ul class="list-unstyled">
                    <li>
                        - Tips Académicos
                    </li>
                    <li>
                        - Clases programadas
                    </li>
                    <li>
                        - <a href="#">Más información</a>
                    </li>
                </ul>
            </div>
            <div class="plan"></div>
        </div>
        <div class="col-lg-4 text-left plans-class">
            <div class="plan-price">$125.000</div>
            <div class="plan-name">PLAN PREMIUM</div>
            <div class="hours">
                <div class="hours-number">4</div>
                <div class="text-hour">HORA
                    <br>DE CLASE ONLINE EN VIVO</div>

            </div>
            <div class="text-other-hour">
                <ul class="list-unstyled">
                    <li>
                        - Tips Académicos
                    </li>
                    <li>
                        - Clases programadas
                    </li>
                    <li>
                        - <a href="#">Más información</a>
                    </li>
                </ul>
            </div>
            <div class="plan"></div>
        </div>
    </div>
    <div class="banner-3 row m-0">
        <div class="text-banner-2">
            <div class="twentyper banner-icon-3"></div>
            <h1 class="title-banner-2 banner-3-movil">Subscríbete</h1>
            <hr class="break">
            <h2 class="title-second-banner-2">y obtén precios especiales</h2>
            <button class="btn btn-lg btn-mail btn-mail-3">Correo electrónico</button>
            <div class="img-interested">Subscribirme</div>
        </div>
    </div>
    <div class="row services">
        <div class="col-lg-12">
            <div class="m-auto text-how-work d-block">
                <h2 class="general-title general-title-2">¡Servicio de calidad y credibilidad!</h2>
                <hr class="break-brown">
                <p class="general-text general-text-3">
                    Contamos con el apoyo gubernamental local y nacional para una efectiva entrega de contenidos y clases de calidad certificadas.
                </p>
            </div>
        </div>

    </div>
    <div class="row m-auto text-center first-logo">
      <div class="col-lg-12 ">
        <img src="assets/img/logos/MinTIC_(Colombia)_logo.png" alt="MinTIC_(Colombia)_logo"/>
      </div>

    </div>
    <div class="row m-auto text-center">
      <div class="col-lg-3 ">
        <img class="CCB" src="assets/img/logos/Subtraction 4.png" alt="CCB_logo"/>
      </div>
      <div class="col-lg-3 ">
        <img class="vivedigital" src="assets/img/logos/customLogo.png" alt="vivedigital_logo"/>
      </div>
      <div class="col-lg-3 ">
        <img class="appsCO" src="assets/img/logos/appsCO.png" alt="appsCO_logo"/>
      </div>
      <div class="col-lg-3 ">
        <img class="todos" src="assets/img/logos/todos.png" alt="TODOS por un nuevo país_logo"/>
      </div>

    </div>
    <div class="banner-4 row m-0">
      <ul class="links-footer list-unstyled">
        <li>QUIENES SOMOS</li>
        <li>TÉRMINOS & CONDICIONES</li>
        <li>PREGUNTAS FRECUENTES</li>
        <li>CONTÁCTENOS</li>
      </ul>
      <img
      class="logo-footer"
        alt="youtube Logo"
        src="assets/img/youtube-logo-8.png"
      />
    </div>
</div>

<router-outlet></router-outlet>